html,
body,
#root {
    height: 100%;
    font-size: 1.15em;
    text-align: center;
    color: white;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #23272a;
    font-family: 'Roboto';
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
