:root {
    --form-padding: 12px;
    --form-el-border-radius: 4px;
    --form-el-border-color: #ccc;
    --form-el-border-thickness: 1px;
    --form-el-margin-top: 6px;
    --form-el-margin-bot: 16px;

    --submit-text-color: #fff;
    --submit-background-color: #04aa6d;
    --submit-paddings-vertical: 12px;
    --submit-paddings-horizontal: 20px;

    --label-text-color: #23272a;

    --container-background-color: #f2f2f2;
    --container-padding: 20px;
}

input[type='text'],
input[type='email'],
select,
textarea {
    width: 100%;
    padding: var(--form-padding);
    border: var(--form-el-border-thickness) solid var(--form-el-border-color);
    border-radius: var(--form-el-border-radius);
    box-sizing: border-box;
    margin-top: var(--form-el-margin-top);
    margin-bottom: var(--form-el-margin-bot);
    resize: vertical;
}

input[type='submit'] {
    background-color: var(--submit-background-color);
    color: var(--submit-text-color);
    padding: var(--submit-paddings-vertical) var(--submit-paddings-horizontal);
    border: none;
    border-radius: var(--form-el-border-radius);
    cursor: pointer;
}

label {
    color: var(--label-text-color);
}

/*input[type='submit']:hover {*/
/*    background-color: #45a049;*/
/*}*/

.container {
    background-color: var(--container-background-color);
    padding: var(--container-padding);
}
