:root {
    --form-padding: 12px;
    --form-el-border-radius: 4px;
    --form-el-border-color: #ccc;
    --form-el-border-thickness: 1px;
    --form-el-margin-top: 6px;
    --form-el-margin-bot: 16px;

    --submit-text-color: #fff;
    --submit-background-color: rgba(255, 118, 20, .8);
    --submit-paddings-vertical: 12px;
    --submit-paddings-horizontal: 20px;

    --label-text-color: #fff;

    --container-background: linear-gradient(
            90deg,
            rgba(20, 159, 255, 0.5) 0%,
            rgba(17, 122, 255, 0.5) 100%
    );;
    --container-padding: 20px;
}

input[type='text'],
input[type='email'],
select,
textarea {
    width: 100%;
    padding: var(--form-padding);
    border: var(--form-el-border-thickness) solid var(--form-el-border-color);
    border-radius: var(--form-el-border-radius);
    box-sizing: border-box;
    margin-top: var(--form-el-margin-top);
    margin-bottom: var(--form-el-margin-bot);
    resize: vertical;
}

input[type='submit'] {
    background-color: var(--submit-background-color);
    color: var(--submit-text-color);
    padding: var(--submit-paddings-vertical) var(--submit-paddings-horizontal);
    border: none;
    border-radius: var(--form-el-border-radius);
    cursor: pointer;
}

label {
    color: var(--label-text-color);
}

/*input[type='submit']:hover {*/
/*    background-color: #45a049;*/
/*}*/

.container {
    opacity: 0.3;
    pointer-events: none;
    background: var(--container-background);
    padding: var(--container-padding);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}

.container.active {
    opacity: 1;
    pointer-events: all;
}
